<ng-container *ngIf="listOfRest.length" >
  <div class="container">
<div class="container__list"  *ngFor="let list of listOfRest; let i = index">
  <div>
   Name -  {{list.name}}
  </div>
  <div>
   Location - {{list.location}}
  </div>
  <div>
   Phone Numner - {{list.phoneNumber}}
  </div>


<button mat-button [matMenuTriggerFor]="menu" (click)="optionClick(i)">Options</button>


</div>
<div class="container__open-form-button">
<button (click)="openForm()">Add More to the list</button>
</div>
</div>

</ng-container>

<mat-menu #menu="matMenu" >
  <button (click)="clickMe(item.value, i)" *ngFor="let item of iconOptions;  let i = index">{{ item.viewValue}}</button>
</mat-menu>
